name: build-and-deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login with Federated Identity
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository }}/cesta-basica:latest .
        docker push ghcr.io/${{ github.repository }}/cesta-basica:latest

    - name: Deploy to Azure Container Apps
      uses: azure/container-apps-deploy-action@v1
      with:
        app-name: ${{ secrets.AZURE_CONTAINERAPP_NAME }}
        resource-group: rg-cesta-basica
        image: ghcr.io/${{ github.repository }}/cesta-basica:latest
        environment: ${{ secrets.AZURE_CONTAINERAPPS_ENVIRONMENT }}

    - name: Show deployed revision
      run: az containerapp revision list \
           --name ${{ secrets.AZURE_CONTAINERAPP_NAME }} \
           --resource-group rg-cesta-basica \
           -o table
